@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500;1,600;1,700&family=Roboto:ital,wght@0,700;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Lora' sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root{
    --bg-color: #000;
    --pri-bg-color: #000;
    --sec-bg-color: #A82548;
    --text-color: #ffffff;
    --sec-text-color: #fff;
    --pink-text-color: #ff278c;
    --pinkoverlay-color: #c50a6b;
    --lightpink-text-color: #df9ebc;
    --main-color: #462654;
    --big-font: 5rem;
    --small-font: 3rem;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    color: var(--text-color);
    background-image: linear-gradient(
        45deg,
        hsl(0deg 0% 0%) 0%,
        hsl(0deg 0% 5%) 90%,
        hsl(0deg 0% 100%) 100%
      );
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
    transition: .3s;
}

.header.sticky {
    background-image: linear-gradient(
        45deg,
        hsl(0deg 0% 0%) 0%,
        hsl(0deg 0% 5%) 90%,
        hsl(0deg 0% 100%) 100%
    );
}

.logo{
    position: relative;
    font-size: var(--small-font);
    color: var(--pink-text-color);
    font-weight: 700;
    font-family: 'Lora';
    font-style: italic;
}

.navbar{
    position: relative;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--lightpink-text-color);
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--pink-text-color);
}

#menu-icon{
    position: relative;
    cursor: pointer;
    transition: .3s;
    color: var(--pink-text-color);
    font-size: var(--small-font);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 1rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 8%;
    background: var(--pri-bg-color);
}

.home-content{
    max-width: 50rem;
}

.home-content img{
    height: 500px;
    width: 400px;
    border-radius: 40%;
    position: absolute;
    top: 80px;
    right: 70px;
    /* background: #11395b; */
}

.home-content h1{
    position: relative;
    display: inline-block;
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 5.5rem;
}


.home-content .text-animate{
    position: relative;
    width: 28rem;
}

.home-content .text-animate h3{
    font-size: var(--small-font);
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: .5px #ff278c;
    background-image: linear-gradient(#ffffbb, #9c005b);
    background-repeat: no-repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 5s linear infinite;
    animation-delay: 3s;
}

.home.show-animate .home-content .text-animate h3{
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 3px solid #FFFF8F;
    z-index: -1;
    animation: homeCursorText 5s linear infinite;
    animation-delay: 3s;
}

.home.show-animate .home-content .text-animate h3::before{
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p{
    position: relative;
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid var(--pink-text-color);
    border-radius: .8rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--lightpink-text-color);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--pinkoverlay-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--lightpink-text-color);;
}

.btn-box .btn:hover::before{
    width: 100%;
}


.home-links{
    position: absolute;
    bottom: 4rem;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.home-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:.2rem solid var(--pink-text-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--sec-text-color);
    z-index: 1;
    overflow: hidden;
}

.home-links a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--pinkoverlay-color);
    z-index: -1;
    transition: .5s;
}

.home-links a:hover::before{
    width: 100%;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background: var(--pri-bg-color);
    padding-bottom: 6rem;
}

.fade-about{
    opacity: 0.2;
    transition: opacity 0.5s;
}

.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 4rem;
    text-align: center;
}

span{
    color: #78c0ff;
}

.about-img{
    height: 20rem;
    width: 35rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 70%;
    height: 30rem;
    border-radius: 50%;
    border: .2rem solid #008080;
}

.about span{
    color: var(--pinkoverlay-color)
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 69%;
    height: 120%;
    border-radius: 50%;
    border-top: .2rem solid #235680;
    border-bottom: .2rem solid #375b79;
    border-left: .2rem solid #008080;
    border-right: .2rem solid #008080;
    animation: aboutSpinCircle 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p{
    position: relative;
    font-size: 1.25rem;
    margin: 2rem 0 1.5rem;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: var(--pinkoverlay-color);
}

/* One of my works */
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    justify-content: center;
    text-align: center;
    background: var(--pri-bg-color);
    margin: 0 0 1.5rem;
    padding: 2%;
}

.works .sm-txt {
    font-size: 16px;
    text-decoration: underline;
}

.works .sm-txt:hover {
    color: var(--lightpink-text-color);
}

.display-works {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: stretch;
}

.works-piece {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.works h1 {
    margin: 1rem 0 1rem;
    font-size: var(--big-font);
}

.works h2 {
    padding: 0.5rem;
}

.works span {
    color: var(--pink-text-color);
    font-size: var(--small-font);
    font-family: 'Lora';
}

.works a {
    color: #fff;
    font-size: 1.9rem;
}

.works p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 1.5%;
    text-align: justify;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 15rem  ;
    background: var(--pri-bg-color);
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}


.education-column .title{
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    position: relative;
    border-left: .2rem solid var(--pink-text-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--pink-text-color);
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--pinkoverlay-color);
    border-radius: .7rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--pinkoverlay-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: #78c0ff;
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 1.7rem;
}

.education-content .content p{
    font-size: 1.1rem;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.skills{
    padding-bottom: 5rem;
    min-height: auto;
    background: var(--pri-bg-color);
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    display: inline-block;
    position: relative;
    margin: 0 0 1.5rem;
    font-size: 2.5rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--pinkoverlay-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}


.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--lightpink-text-color);
}

.skills-content .progress .bar{
    height: 2rem;
    border-radius: .6rem;
    border: .2rem solid var(--lightpink-text-color);
    padding: .5rem;
    margin: 1rem 0;
}


.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 100%;
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span{
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span{
    width: 70%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 100%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 100%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 100%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 70%;
}


.btn-box button{
    background: var(--pri-bg-color);
}

.contact{
    min-height: auto;
    padding-bottom: 15rem;
    background: var(--pri-bg-color);
}

.contact span{
    color: var(--pinkoverlay-color);
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 48%;
    margin: .8rem 0;
}



.contact form .input-box .input-field input,
.contact form .text-area-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--lightpink-text-color);
    background: transparent;
    border-radius: .6rem;
    border: .25rem solid #008080;
}


.contact form .input-box .input-field input::placeholder,
.contact form .text-area-field textarea::placeholder{
    color: var(--lightpink-text-color);
}


.contact form .text-area-field{
    position: relative;
    margin: .8rem 0 2.5rem;
    display: flex;
}

.contact form .text-area-field textarea{
    resize: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    padding-bottom: 5rem;
    background: var(--pri-bg-color);
}

.footer-text,
.footer-icon{
    position: relative;
}

.footer-text p{
    font-size: 1.5rem;
}

.footer-icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--lightpink-text-color);
    border: .2rem solid var(--pinkoverlay-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--pinkoverlay-color);
    z-index: -1;
    transition: .5s;
}

.footer-icon a:hover::before{
    width: 100%;
}

.footer-icon a i{
    font-size: 2.3rem;
    color: var(--pink-text-color);
    transition: .5s;
}

.footer-icon a:hover i{
    color: #78c0ff;
}


/* ANIMATION RELOAD */
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--pri-bg-color);
    z-index: 98;
}

.animate.home-img{
    width: 50%;

}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.4s * var(--i));
}

.animate.scroll{
    transition: 1s ease;
    transition-delay: calc(.4s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll,
.contact .animate.scroll{
    background: var(--pri-bg-color);
}

.education .education-box .animate.scroll{
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.education.show-animate .education-box .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll{
    transition-delay: calc(.4s * var(--i));
    width: 0;
}





/* Mobile View */
@media (max-width: 767px) {
    .home-content img{
        height: 200px;
        width: 200px;
        top: 50px;
        left: 150px;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 80%;
        left: -100%;
        width: 100%;
        height: 100vh;
        padding: 1rem 4%;
        background: var(--pri-bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--pinkoverlay-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbav.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2.2rem;
        margin: 3rem 0;
        transform: translateX(-30rem);
        transition: .25s ease;
        transition-delay: 0s;

    }
    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }
    .navbar a:hover, 
    .navbar a.active{
    color: var(--pinkoverlay-color);
    }
    .display-works {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .works-piece {
        flex: 1 1 calc(50% - 0.75rem);
        min-width: 200px;
    }

    .works p {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .works a {
        font-size: 1.5rem;
    }
}


@media (max-width: 520px) {
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-links{
        width: 150px;
    }
    .home-links a{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 462px) {
    .home-content h1{
        font-size: 5rem;
    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px){
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 4.5rem;
    }
}

@media (min-width: 700px) and (max-width: 1024px){
    .home-content img{
        height: 200px;
        width: 100px;
        top: 100px;
        left: 350px;
    }
}



/* KEYFRAMES ANIMATION */
@keyframes homeBgText{
    0%, 10%, 100%{
        background-position: -29rem 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText{
    0%, 8%, 100%{
        width: 0;
    }
    65%, 85%{
        width: 100%;
        opacity: 1;
    }
    75%, 81%{
        opacity: 0;
    }
}

@keyframes aboutSpinCircle{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100% {
        width: 0;
    }
}